<a href="https://colab.research.google.com/github/ganeshkarode2002/Heart-Disease-Prediction/blob/main/HeartDiseasePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
heart = pd.read_csv("https://www.dropbox.com/s/ltksjtb54wrov5q/HeartDisease.csv?dl=1")

In [ ]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [ ]:
heart.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
heart.info

<bound method DataFrame.info of       age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]>

In [ ]:
heart.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [ ]:
y = heart['target']

In [ ]:
X = heart[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach','exang', 'oldpeak', 'slope', 'ca', 'thal']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train ,X_test,y_train,y_test =  train_test_split(X,y, train_size=0.7, random_state=2529)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((717, 13), (308, 13), (717,), (308,))

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=200)

In [ ]:
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(max_iter=200)

In [ ]:
y_predl = model.predict(X_test)
print(y_predl)

[1 1 0 1 0 0 1 1 1 1 0 1 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 1 1 0 1 1 0 0 1 0 1
 1 1 0 1 0 1 0 1 0 1 1 0 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1 1 0 0 0 1 1 1 0 1 0
 0 0 1 1 1 1 1 0 1 1 0 1 1 0 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 0 0 1 1 1 0 1
 0 0 1 1 0 1 1 0 0 1 1 0 0 1 1 0 1 0 0 0 0 0 1 0 1 0 1 1 0 1 0 1 1 0 1 1 1
 1 0 0 0 1 1 1 1 1 1 0 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 1 0 1 1 1 0 1 0 0 0 1
 0 1 1 0 0 0 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 0 0 1 1 0 1 0 1 1
 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 1 0 1 1 1 0 1 1 0 1 0 1 1 1 0 1 0 0 1 0 1 1
 1 1 0 0 1 0 0 1 0 1 0 1 0 0 1 1 0 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 1 0 1 0 0
 1 1 1 0 1 0 1 0 1 1 1 1]

In [ ]:
from sklearn.metrics import accuracy_score , confusion_matrix,classification_report

In [ ]:
accuracy_score(y_test,y_predl)

0.8441558441558441

In [ ]:
confusion_matrix(y_test,y_predl)

array([[119,  36],
       [ 12, 141]])

In [ ]:
classification_report(y_test,y_predl)

'              precision    recall  f1-score   support\n\n           0       0.91      0.77      0.83       155\n           1       0.80      0.92      0.85       153\n\n    accuracy                           0.84       308\n   macro avg       0.85      0.84      0.84       308\nweighted avg       0.85      0.84      0.84       308\n'

In [ ]:
from sklearn.svm import SVC
model1= SVC()

In [ ]:
model1.fit(X_train,y_train)

SVC()

In [ ]:
y_preds = model1.predict(X_test)
print(y_preds)

[1 1 0 1 1 0 1 1 1 1 0 1 1 0 1 1 0 1 0 0 1 1 1 1 1 0 0 1 1 0 0 1 0 1 1 0 0
 1 1 0 1 0 1 0 1 0 1 1 1 1 1 0 1 1 0 0 1 0 1 0 1 1 1 0 1 1 0 0 1 1 1 0 1 0
 1 0 1 1 1 0 1 1 1 1 0 1 1 0 0 0 1 0 1 0 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1
 0 0 1 1 1 1 0 1 1 0 1 0 1 1 0 1 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 1 1 0 0 1 1
 1 0 0 0 1 1 0 1 0 1 1 1 0 1 0 0 1 1 1 1 1 0 1 1 1 0 1 0 1 1 0 1 1 1 0 0 1
 0 1 1 1 1 0 0 1 1 1 0 1 1 1 1 0 1 0 1 1 0 1 0 1 1 1 0 1 1 0 1 1 0 1 0 1 1
 1 0 0 0 1 1 1 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0 1 0
 1 1 0 0 1 1 0 1 0 0 0 1 1 1 1 0 0 1 1 0 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 0 0
 1 1 1 1 1 0 1 0 1 1 1 1]

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [ ]:
accuracy_score(y_test,y_preds)

0.711038961038961

In [ ]:
confusion_matrix(y_test,y_preds)

array([[ 95,  60],
       [ 29, 124]])

In [ ]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.77      0.61      0.68       155
           1       0.67      0.81      0.74       153

    accuracy                           0.71       308
   macro avg       0.72      0.71      0.71       308
weighted avg       0.72      0.71      0.71       308

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier()

In [ ]:
model2.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
y_predr = model2.predict(X_test)
print(y_predr)

[1 1 0 1 0 0 0 1 1 1 0 1 1 0 1 1 1 0 1 0 1 1 0 1 0 0 0 1 1 0 0 1 0 0 1 0 1
 1 1 0 1 1 1 0 0 0 1 1 0 0 1 0 0 1 0 1 1 0 1 0 1 1 1 0 1 0 0 0 0 1 1 0 1 0
 0 0 0 1 1 0 0 0 1 1 0 1 0 0 1 0 1 0 0 1 1 0 1 1 1 0 1 1 1 0 0 0 1 0 1 0 1
 0 0 1 1 0 1 0 1 0 1 1 0 0 1 1 1 0 0 0 0 0 0 1 0 0 0 1 1 1 1 1 1 1 0 1 1 1
 0 0 0 0 1 1 0 1 1 0 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0
 0 1 1 0 0 0 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 0 1 1 0 1 0 1 0 1 0 1 0 1 0
 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 1 0 1 1 1 0 1 1 0 0 0 1 1 1 0 0 0 0 0 0 1 1
 0 1 0 0 1 1 0 1 0 0 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 0 1 0 0 0 0 1 1 0 1 0 0
 1 1 1 0 1 0 1 0 1 1 0 1]

In [ ]:
accuracy_score(y_test,y_predr)

1.0

In [ ]:
confusion_matrix(y_test,y_predr)

array([[155,   0],
       [  0, 153]])

In [ ]:
print(classification_report(y_test,y_predr))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       155
           1       1.00      1.00      1.00       153

    accuracy                           1.00       308
   macro avg       1.00      1.00      1.00       308
weighted avg       1.00      1.00      1.00       308